@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ffffff;
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.navMob {
  display: none;
}

h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

#crewCard1 {
  left: 0.4vw;
  top: 0vw;
}
#crewCard2 {
  left: 21.2vw;
  top: 13.5vw;
}
#crewCard3 {
  left: 42.5vw;
  top: 4.3vw;
}
#crewCard4 {
  left: 62.8vw;
  top: 17vw;
}
#crewCard5 {
  left: 4.5vw;
  top: 39.1vw;
}
#crewCard6 {
  left: 10.6vw;
  top: 58.6vw;
}
#crewCard7 {
  left: 39.1vw;
  top: 41.3vw;
}
#crewCard8 {
  left: 60vw;
  top: 61.5vw;
}
#crewCard9 {
  left: 0.4vw;
  top: 85.2vw;
}
#crewCard10 {
  left: 24.7vw;
  top: 100.2vw;
}
#crewCard11 {
  left: 51.8vw;
  top: 82.3vw;
}
#crewCard12 {
  left: 4.5vw;
  top: 122.2vw;
}
#crewCard13 {
  left: 39.1vw;
  top: 125.7vw;
}
#crewCard14 {
  left: 58.4vw;
  top: 112.4vw;
}
#crewCard15 {
  left: 12vw;
  top: 156.9vw;
}
#crewCard16 {
  left: 32.8vw;
  top: 148.8vw;
}
#crewCard17 {
  left: 65.8vw;
  top: 160vw;
}
#crewCard18 {
  left: 1vw;
  top: 188.7vw;
}
#crewCard19 {
  left: 27vw;
  top: 202.6vw;
}
#crewCard20 {
  left: 41.4vw;
  top: 178.9vw;
}
#crewCard21 {
  left: 61.1vw;
  top: 191.6vw;
}

#crewCard1 img {
  width: 15.954vw;
  height: auto;
}
#crewCard2 img {
  width: 17.688vw;
  height: auto;
}
#crewCard3 img {
  width: 16.59vw;
  height: auto;
}
#crewCard4 img {
  width: 19.942vw;
  height: auto;
}
#crewCard5 img {
  width: 18.786vw;
  height: auto;
}
#crewCard6 img {
  width: 21.734vw;
  height: auto;
}
#crewCard7 img {
  width: 16.358vw;
  height: auto;
}
#crewCard8 img {
  width: 20.52vw;
  height: auto;
}
#crewCard9 img {
  width: 18.324vw;
  height: auto;
}
#crewCard10 img {
  width: 22.023vw;
  height: auto;
}
#crewCard11 img {
  width: 18.497vw;
  height: auto;
}
#crewCard12 img {
  width: 22.312vw;
  height: auto;
}
#crewCard13 img {
  width: 17.919vw;
  height: auto;
}
#crewCard14 img {
  width: 18.844vw;
  height: auto;
}
#crewCard15 img {
  width: 17.919vw;
  height: auto;
}
#crewCard16 img {
  width: 22.89vw;
  height: auto;
}
#crewCard17 img {
  width: 15.549vw;
  height: auto;
}
#crewCard18 img {
  width: 16.127vw;
  height: auto;
}
#crewCard19 img {
  width: 14.913vw;
  height: auto;
}
#crewCard20 img {
  width: 18.208vw;
  height: auto;
}
#crewCard21 img {
  width: 22.197vw;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 2.775vw;
  padding-bottom: 2.775vw;
}

.header {
  height: fit-content;
  width: 12vw;
}

.header h2 {
  padding: 0.231vw 0.231vw 0vw 0.231vw;
  background: #feeb30;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  width: fit-content;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 0.462vw;
  margin-top: 0;
}

h5 {
  background: #2400ff;
  padding: 0.231vw 0.462vw 0.116vw;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  width: 6.2vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.wrapperAbout {
  display: flex;
  flex-direction: row;
}

.aboutText p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 180%;
  /* or 32px */
  width: 64vw;

  color: #000000;
}

.aboutCrew {
  position: relative;
  height: 230vw;
}

.navbar2 {
  background: #ffffff;
}

.row2 a {
  color: #000000;
  font-family: "Decima Mono Cyr";
  font-size: 1.04vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.156vw;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.699vw;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.549vw;
  width: 100%;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.partners p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  /* identical to box height, or 20px */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.partners p:hover {
  transform: scale(1.4);
  cursor: default;
}

.crewCard {
  position: absolute;
  width: fit-content;
}

.crewCard h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  padding-bottom: 0.462vw;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0;

  color: #000000;
}

.crewCard h5 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  letter-spacing: 0.05em;
  width: fit-content;
  color: #ffffff;
  margin-bottom: 0.462vw;
  margin-top: 0;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.549vw;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1.387vw;
}

.partners p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.156vw;
  line-height: 102%;
  /* or 20px */

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #a0a0a0;
  transition: transform 0.8s ease-in;
}

.partners p:hover {
  transform: scale(1.4);
  cursor: default;
}

.contacts {
  display: flex;
  flex-direction: row;

  /* display: none; */
}
.contacts h2 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.387vw;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-transform: uppercase;

  /* Bg */

  color: #f9f2eb;
}

.contacts h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  padding-bottom: 1.387vw;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.contacts p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 180%;
  /* or 32px */

  color: #7e7e7e;
}

.contactsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contactsRow2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.387vw;
  padding-top: 13.295vw;
}

.contactsRowItem {
  padding-right: 5.549vw;
}

.contactsRow2 p {
  color: #92867b;
}

header {
  display: none;
}

@media screen and (max-width: 428px) {
  body {
    padding-right: 6.154vw;
    padding-left: 6.154vw;
  }

  .navbar2 {
    display: none;
  }

  .navMob {
    padding-top: 4vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.256vw;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .aboutText p {
    padding-top: 2.051vw;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 163%;
    /* or 26px */
    width: 87.436vw;
    padding-bottom: 10.256vw;

    color: #000000;
  }

  .header h2 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 109%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 0;

    color: #000000;
  }

  .contacts {
    padding-top: 10.256vw;
    padding-bottom: 10.256vw;
    flex-direction: column;
  }

  .contactsRowItem h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 109%;
    /* identical to box height, or 20px */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
  }

  .contactsRowItem p {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 163%;
    padding-bottom: 8.205vw;
    /* or 26px */

    color: #7e7e7e;
  }

  .aboutCrew {
    padding-top: 10.256vw;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: end;
    padding-bottom: 10.256vw;
    margin-right: -6.5vw;
  }

  .crewCard {
    position: relative;
    padding-right: 4.103vw;
  }

  #crewCard1 {
    top: 0;
    left: 0;
  }

  #crewCard2 {
    top: 0;
    left: 0;
  }

  #crewCard3 {
    top: 0;
    left: 0;
  }

  #crewCard4 {
    top: 0;
    left: 0;
  }

  #crewCard5 {
    top: 0;
    left: 0;
  }

  #crewCard6 {
    top: 0;
    left: 0;
  }

  #crewCard7 {
    top: 0;
    left: 0;
  }

  #crewCard8 {
    top: 0;
    left: 0;
  }

  #crewCard9 {
    top: 0;
    left: 0;
  }

  #crewCard10 {
    top: 0;
    left: 0;
  }

  #crewCard11 {
    top: 0;
    left: 0;
  }

  #crewCard12 {
    top: 0;
    left: 0;
  }

  #crewCard13 {
    top: 0;
    left: 0;
  }

  #crewCard14 {
    top: 0;
    left: 0;
  }

  #crewCard15 {
    top: 0;
    left: 0;
  }

  #crewCard16 {
    top: 0;
    left: 0;
  }

  #crewCard17 {
    top: 0;
    left: 0;
  }

  #crewCard18 {
    top: 0;
    left: 0;
  }

  #crewCard19 {
    top: 0;
    left: 0;
  }

  #crewCard20 {
    top: 0;
    left: 0;
  }

  #crewCard21 {
    top: 0;
    left: 0;
  }

  #crewCard1 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard2 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard3 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard4 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard5 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard6 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard7 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard8 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard9 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard10 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard11 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard12 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard13 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard14 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard15 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard16 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard17 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard18 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard19 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard20 Img {
    width: auto;
    height: 100vw;
  }

  #crewCard21 Img {
    width: auto;
    height: 100vw;
  }

  .crewCard h4 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    padding-bottom: 1vw;
    line-height: 115%;
    margin-bottom: 0;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;
  }

  .crewCard h5 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    margin-top: 0;

    /* identical to box height, or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 2.051vw;

    color: #ffffff;
  }

  .partners {
    padding-top: 20.513vw;
  }

  .partnersRow {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .partners p {
    padding-bottom: 1vw;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 110%;
    /* identical to box height, or 20px */
    letter-spacing: 0.05em;

    color: #000000;
  }

  .footerCopyright p {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 120%;
    /* identical to box height, or 22px */
    /* Teritary */
    color: #92867b;
    margin: 0 auto 0 0;
    margin-right: auto;
  }

  .footerMain {
    align-items: flex-end;
  }

  .footerCopyright {
    padding-top: 24.615vw;
  }

  header {
    display: block;
  }

  .menuWrapper {
    margin-right: -6.154vw;
    margin-left: -6.154vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    background-color: white;
    width: 100%;
    padding-top: 10.256vw;
    padding-bottom: 6.154vw;
  }

  .logo2 {
    position: relative;
    left: 6.154vw;
  }

  .menuMedia {
    padding-top: 10.256vw;
    position: relative;
    justify-content: flex-end;
    display: flex;
  }

  .menuMedia a {
    padding-left: 8px;
  }

  .menu-button {
    width: 10.256vw;
    height: 10.256vw;
    cursor: pointer;
    z-index: 33;
    display: block;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-button__wrapper {
    position: relative;
    z-index: 33;
  }
  .menu-button__bar {
    background-color: #000000;
    height: 2px;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 0.4s ease;
  }
  .menu-button__bar:nth-of-type(2) {
    top: 8px;
  }
  .menu-button__bar:nth-of-type(3) {
    top: 16px;
  }
  .menu-button.active .menu-button__bar {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-button.active .menu-button__bar:nth-of-type(2) {
    transform: translateX(2rem);
    opacity: 0;
    visibility: hidden;
  }
  .menu-button.active .menu-button__bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-overlay {
    background-color: white;
    height: 100vh;
    width: calc(100% - 4rem);
    right: 0;
    position: fixed;
    padding: 8rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateX(100%);
    z-index: 22;
  }
  .menu-overlay.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  .background-overlay {
    background-color: rgba(25, 25, 25, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
    position: fixed;
  }
  .background-overlay.bg-overlay {
    opacity: 1;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__item {
    text-decoration: none;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    /* identical to box height, or 20px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;

    color: #000000;
    transition: all 0.4s ease;
    position: relative;
    align-self: flex-end;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .nav__item::after {
    content: "";
    background-color: #191919;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.4s ease;
  }
  .nav__item:hover::after {
    width: 100%;
  }
  .button {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #191919;
    align-self: flex-start;
    transition: all 0.4s ease;
  }
  .button:hover {
    background-color: rgba(25, 25, 25, 0.75);
  }
  .content {
    max-width: 1440px;
    padding: 0 2rem;
  }

  .wrapperTop {
    padding-top: 30.769vw;
  }
}
