@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/DecimaMonoCyr.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ffffff;
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

#moveRight {
  margin-left: 11.5vw;
}

h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 109%;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  letter-spacing: 0.05em;

  color: #000000;
}

h5 {
  background: #2400ff;
  padding: 4px 8px 2px;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  width: 6.2vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.wrapperAbout {
  display: flex;
  flex-direction: row;
}

.aboutText {
  padding-top: 80px;
  padding-bottom: 64px;
}

.aboutText p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  width: 64vw;

  color: #000000;
}

#aboutH2 {
  padding: 4px 8px 0;
  background: #feeb30;
  width: 100px;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 109%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 8px;
}

.aboutCrew {
  position: relative;
  height: 228vw;
  padding-bottom: 96px;
}

.navbar2 {
  background: #ffffff;
}

.row2 a {
  color: #000000;
  font-family: "Decima Mono Cyr";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 64px;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 96px;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
}

.partners p {
  font-family: Decima Mono Cyr;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  color: #000000;
}

.partners p:hover {
  transform: scale(1.4);
  cursor: default;
}

.crewCard {
  position: absolute;
  width: fit-content;
}

.crewCard h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 8px;
  /* or 24px */

  text-transform: uppercase;

  color: #ffffff;
}

.crewCard h5 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-transform: uppercase;

  color: #ababab;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 96px;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
}

.partners p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 102%;
  /* or 20px */

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #a0a0a0;
  transition: transform 0.8s ease-in;
}

.partners p:hover {
  transform: scale(1.4);
  cursor: default;
}

.contacts {
  display: flex;
  flex-direction: column;
  /* display: none; */
}
.contacts h2 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-transform: uppercase;

  /* Bg */

  color: #f9f2eb;
}

.contacts h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 109%;
  padding-bottom: 24px;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.contacts p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  color: #7e7e7e;
}

.contactsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 215px;
}

.contactsRow2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  padding-top: 230px;
}

.contactsRow2 p {
  color: #92867b;
}
