@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ffffff;
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

@keyframes slide1 {
  0.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(-5px, -2px) skew(8deg);
  }
  0.05% {
    filter: contrast(20) invert(0);
    transform: translate(14px, -4px) skew(-10deg);
  }
  0.075% {
    filter: contrast(500) invert(1);
    transform: translate(-20px, 0) skew(-12deg);
  }
  0.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(20deg);
  }
  0.125%,
  10% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  10.025% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(10deg);
  }
  10.05% {
    filter: contrast(0) invert(1);
    transform: translate(-15px, 2px) skew(4deg);
  }
  10.1% {
    filter: contrast(500) invert(0);
    transform: translate(4px, 6px) skew(-8deg);
  }
  10.125% {
    filter: contrast(50) invert(0);
    transform: translate(-12px, 0) skew(-18deg);
  }
  10.15% {
    filter: contrast(0) invert(0);
    transform: translate(14px, 6px) skew(6deg);
  }
  10.2% {
    filter: contrast(10) invert(1);
    transform: translate(2px, 2px) skew(-9deg);
  }
  10.225%,
  25% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }

  25.025% {
    filter: contrast(1) invert(0);
    transform: translate(4px, 0px) skew(-9deg);
  }
  25.05% {
    filter: contrast(500) invert(1);
    transform: translate(-10px, 0px) skew(5deg);
  }
  25.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(18px, 0px) skew(-20deg);
  }
  25.125% {
    filter: contrast(500) invert(0);
    transform: translate(-4px, 2px) skew(3deg);
  }
  25.175% {
    filter: contrast(50) invert(0.2);
    transform: translate(8px, 0px) skew(-6deg);
  }
  25.2%,
  40% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  40.05% {
    filter: contrast(50) invert(0.4);
    transform: translate(20px, 12px) skew(-9deg);
  }
  40.075% {
    filter: contrast(500) invert(1);
    transform: translate(-12px, 8px) skew(6deg);
  }
  40.15% {
    filter: contrast(50) invert(0);
    transform: translate(10px, 2px) skew(-20deg);
  }
  40.2%,
  70% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  70.0125% {
    filter: contrast(500) invert(1);
    transform: translate(6px, 22px) skew(-3deg);
  }
  70.03% {
    filter: contrast(500) invert(0.4);
    transform: translate(-6px, 8px) skew(6deg);
  }
  70.08% {
    filter: contrast(50) invert(0);
    transform: translate(2px, 1px) skew(-20deg);
  }
  70.1%,
  90% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }
  90.05% {
    filter: contrast(1) invert(0.4);
    transform: translate(4px, 0px) skew(-10deg);
  }
  90.075% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 0px) skew(10deg);
  }
  90.1% {
    filter: contrast(70) invert(1);
    transform: translate(10px, 3px) skew(-20deg);
  }
  90.125% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 4px) skew(8deg);
  }
  90.15% {
    filter: contrast(20) invert(0.6);
    transform: translate(20px, 0px) skew(-10deg);
  }
  90.175% {
    filter: contrast(500) invert(0.2);
    transform: translate(-12px, 2px) skew(9deg);
  }
  90.2% {
    filter: contrast(50) invert(1);
    transform: translate(8px, 0px) skew(-30deg);
  }
  90.225%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes slide2 {
  0.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(-5px, -2px) skew(8deg);
  }
  0.05% {
    filter: contrast(20) invert(0);
    transform: translate(14px, -4px) skew(-10deg);
  }
  0.075% {
    filter: contrast(500) invert(1);
    transform: translate(-20px, 0) skew(-12deg);
  }
  0.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(20deg);
  }
  0.125%,
  20% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  20.025% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(10deg);
  }
  20.05% {
    filter: contrast(0) invert(1);
    transform: translate(-15px, 2px) skew(4deg);
  }
  20.1% {
    filter: contrast(500) invert(0);
    transform: translate(4px, 6px) skew(-8deg);
  }
  20.125% {
    filter: contrast(50) invert(0);
    transform: translate(-12px, 0) skew(-18deg);
  }
  20.15% {
    filter: contrast(0) invert(0);
    transform: translate(14px, 6px) skew(6deg);
  }
  20.2% {
    filter: contrast(10) invert(1);
    transform: translate(2px, 2px) skew(-9deg);
  }
  20.225%,
  35% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }

  35.025% {
    filter: contrast(1) invert(0);
    transform: translate(4px, 0px) skew(-9deg);
  }
  35.05% {
    filter: contrast(500) invert(1);
    transform: translate(-10px, 0px) skew(5deg);
  }
  35.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(18px, 0px) skew(-20deg);
  }
  35.125% {
    filter: contrast(500) invert(0);
    transform: translate(-4px, 2px) skew(3deg);
  }
  35.175% {
    filter: contrast(50) invert(0.2);
    transform: translate(8px, 0px) skew(-6deg);
  }
  35.2%,
  70% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  70.05% {
    filter: contrast(50) invert(0.4);
    transform: translate(20px, 12px) skew(-9deg);
  }
  70.075% {
    filter: contrast(500) invert(1);
    transform: translate(-12px, 8px) skew(6deg);
  }
  70.15% {
    filter: contrast(50) invert(0);
    transform: translate(10px, 2px) skew(-20deg);
  }
  70.2%,
  90% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }
  90.05% {
    filter: contrast(1) invert(0.4);
    transform: translate(4px, 0px) skew(-10deg);
  }
  90.075% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 0px) skew(10deg);
  }
  90.1% {
    filter: contrast(70) invert(1);
    transform: translate(10px, 3px) skew(-20deg);
  }
  90.125% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 4px) skew(8deg);
  }
  90.15% {
    filter: contrast(20) invert(0.6);
    transform: translate(20px, 0px) skew(-10deg);
  }
  90.175% {
    filter: contrast(500) invert(0.2);
    transform: translate(-12px, 2px) skew(9deg);
  }
  90.2% {
    filter: contrast(50) invert(1);
    transform: translate(8px, 0px) skew(-30deg);
  }
  90.225%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes slide3 {
  0%,
  5% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }
  5.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(-5px, -2px) skew(-8deg);
  }
  5.05% {
    filter: contrast(200) invert(1);
    transform: translate(14px, -4px) skew(10deg);
  }
  5.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(12deg);
  }
  5.125%,
  30% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  30.025% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(-10deg);
  }
  30.05% {
    filter: contrast(0) invert(0);
    transform: translate(-15px, 2px) skew(4deg);
  }
  30.1% {
    filter: contrast(500) invert(1);
    transform: translate(4px, 6px) skew(18deg);
  }
  30.125% {
    filter: contrast(50) invert(0.5);
    transform: translate(-12px, 0) skew(8deg);
  }
  30.15% {
    filter: contrast(0) invert(0);
    transform: translate(8px, 6px) skew(9deg);
  }
  30.2% {
    filter: contrast(10) invert(0.2);
    transform: translate(4px, 2px) skew(-12deg);
  }
  30.225%,
  55% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }

  55.025% {
    filter: contrast(1) invert(0);
    transform: translate(4px, 0px) skew(9deg);
  }
  55.05% {
    filter: contrast(0) invert(1);
    transform: translate(-10px, 0px) skew(-5deg);
  }
  55.1% {
    filter: contrast(500) invert(0.2);
    transform: translate(18px, 0px) skew(20deg);
  }
  55.125% {
    filter: contrast(0) invert(0);
    transform: translate(-4px, 2px) skew(-9deg);
  }
  55.175% {
    filter: contrast(50) invert(0.2);
    transform: translate(8px, 0px) skew(6deg);
  }
  55.2%,
  80% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  80.05% {
    filter: contrast(50) invert(0.4);
    transform: translate(20px, 12px) skew(-19deg);
  }
  80.075% {
    filter: contrast(500) invert(1);
    transform: translate(-12px, 8px) skew(6deg);
  }
  80.15% {
    filter: contrast(50) invert(0);
    transform: translate(10px, 2px) skew(-20deg);
  }
  80.2%,
  95% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  95.0125% {
    filter: contrast(500) invert(0);
    transform: translate(-12px, 22px) skew(21deg);
  }
  95.03% {
    filter: contrast(500) invert(0.4);
    transform: translate(6px, 8px) skew(-6deg);
  }
  95.08% {
    filter: contrast(50) invert(0);
    transform: translate(20px, 1px) skew(-10deg);
  }
  95.225%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes slide4 {
  0.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(5px, -2px) skew(8deg);
  }
  0.05% {
    filter: contrast(20) invert(0);
    transform: translate(-14px, -4px) skew(-10deg);
  }
  0.075% {
    filter: contrast(500) invert(1);
    transform: translate(20px, 4px) skew(-12deg);
  }
  0.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(-5px, 0) skew(5deg);
  }
  0.125% {
    filter: contrast(0) invert(1);
    transform: translate(12px, 12px) skew(-12deg);
  }
  0.15% {
    filter: contrast(50) invert(0.2);
    transform: translate(-5px, 0) skew(20deg);
  }
  0.2%,
  40% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  40.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(-5px, 0) skew(-10deg);
  }
  40.1% {
    filter: contrast(500) invert(1);
    transform: translate(4px, 6px) skew(8deg);
  }
  40.15% {
    filter: contrast(0) invert(0.2);
    transform: translate(-14px, 6px) skew(16deg);
  }
  40.2% {
    filter: contrast(10) invert(1);
    transform: translate(4px, 2px) skew(9deg);
  }
  40.225%,
  60% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }

  60.025% {
    filter: contrast(1) invert(0);
    transform: translate(-4px, 0px) skew(9deg);
  }
  60.05% {
    filter: contrast(500) invert(1);
    transform: translate(10px, 0px) skew(3deg);
  }
  60.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(-18px, 10px) skew(20deg);
  }
  60.125% {
    filter: contrast(500) invert(0);
    transform: translate(4px, 2px) skew(10deg);
  }
  60.175% {
    filter: contrast(50) invert(0.2);
    transform: translate(-8px, 4px) skew(6deg);
  }
  60.2%,
  90% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }
  90.05% {
    filter: contrast(1) invert(0.2);
    transform: translate(-2px, 0px) skew(10deg);
  }
  90.075% {
    filter: contrast(500) invert(0);
    transform: translate(8px, 0px) skew(-20deg);
  }
  90.1% {
    filter: contrast(70) invert(1);
    transform: translate(-10px, 3px) skew(12deg);
  }
  90.125% {
    filter: contrast(500) invert(0.2);
    transform: translate(10px, 4px) skew(-8deg);
  }
  90.15% {
    filter: contrast(20) invert(1);
    transform: translate(14px, 0px) skew(10deg);
  }
  90.225%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes slide5 {
  0%,
  12% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }
  12.025% {
    filter: contrast(0) invert(0.2);
    transform: translate(-5px, -2px) skew(8deg);
  }
  12.05% {
    filter: contrast(20) invert(0);
    transform: translate(14px, -4px) skew(-10deg);
  }
  12.075% {
    filter: contrast(500) invert(1);
    transform: translate(-20px, 0) skew(-12deg);
  }
  12.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(5px, 0) skew(20deg);
  }
  12.125%,
  40% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  40.025% {
    filter: contrast(1) invert(0);
    transform: translate(4px, 0px) skew(-9deg);
  }
  40.05% {
    filter: contrast(500) invert(1);
    transform: translate(-10px, 0px) skew(5deg);
  }
  40.1% {
    filter: contrast(50) invert(0.2);
    transform: translate(18px, 0px) skew(-20deg);
  }
  40.175% {
    filter: contrast(50) invert(0.2);
    transform: translate(8px, 0px) skew(-6deg);
  }
  40.2%,
  60% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  60.05% {
    filter: contrast(50) invert(0.4);
    transform: translate(20px, 12px) skew(-9deg);
  }
  60.075% {
    filter: contrast(500) invert(1);
    transform: translate(-12px, 8px) skew(6deg);
  }
  60.15% {
    filter: contrast(50) invert(0);
    transform: translate(10px, 2px) skew(-20deg);
  }
  60.2%,
  95% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }
  95.05% {
    filter: contrast(1) invert(0.4);
    transform: translate(4px, 0px) skew(-10deg);
  }
  95.075% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 0px) skew(10deg);
  }
  95.1% {
    filter: contrast(70) invert(1);
    transform: translate(10px, 3px) skew(-20deg);
  }
  95.125% {
    filter: contrast(500) invert(0);
    transform: translate(-10px, 4px) skew(8deg);
  }
  95.175% {
    filter: contrast(500) invert(0.2);
    transform: translate(-12px, 2px) skew(9deg);
  }
  95.2% {
    filter: contrast(50) invert(1);
    transform: translate(8px, 0px) skew(-30deg);
  }
  95.225%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes slide6 {
  0%,
  22% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }
  22.025% {
    filter: contrast(0) invert(0);
    transform: translate(15px, -2px) skew(8deg);
  }
  22.05% {
    filter: contrast(2) invert(1);
    transform: translate(-14px, 2px) skew(-10deg);
  }
  22.1% {
    filter: contrast(500) invert(0.2);
    transform: translate(20px, 0) skew(8deg);
  }
  22.125% {
    filter: contrast(50) invert(0);
    transform: translate(7px, 2px) skew(-20deg);
  }
  22.15%,
  50% {
    filter: contrast(1) invert(0);
    transform: translate(0) skew(0);
  }

  50.025% {
    filter: contrast(1) invert(1);
    transform: translate(4px, -2px) skew(9deg);
  }
  50.05% {
    filter: contrast(50) invert(0);
    transform: translate(-10px, 0px) skew(-5deg);
  }
  50.1% {
    filter: contrast(0) invert(0.2);
    transform: translate(8px, 0px) skew(20deg);
  }
  50.175% {
    filter: contrast(500) invert(0.2);
    transform: translate(-18px, -4px) skew(-6deg);
  }
  50.2%,
  70% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
  70.05% {
    filter: contrast(50) invert(0.4);
    transform: translate(4px, 2px) skew(9deg);
  }
  70.075% {
    filter: contrast(500) invert(0);
    transform: translate(-12px, 8px) skew(-6deg);
  }
  70.15% {
    filter: contrast(50) invert(1);
    transform: translate(-10px, 2px) skew(20deg);
  }
  70.2%,
  92% {
    filter: contrast(1);
    transform: translate(0, 0) skew(0);
  }
  92.05% {
    filter: contrast(1) invert(1);
    transform: translate(-4px, 0px) skew(10deg);
  }
  92.075% {
    filter: contrast(100) invert(0);
    transform: translate(6px, 0px) skew(-12deg);
  }
  92.1% {
    filter: contrast(0) invert(0.2);
    transform: translate(-10px, 4px) skew(8deg);
  }
  92.125% {
    filter: contrast(500) invert(1);
    transform: translate(10px, 2px) skew(-4deg);
  }
  92.15% {
    filter: contrast(0) invert(0.2);
    transform: translate(-8px, 0px) skew(20deg);
  }
  92.175%,
  100% {
    filter: contrast(1) invert(0);
    transform: translate(0, 0) skew(0);
  }
}

.navLink:hover {
  --d: 100%;
  animation: glitchnav 0.5s;
}

@keyframes glitchnav {
  2%,
  3% {
    transform: translate(8px, 0) skew(10deg);
    color: blue;
  }
  4%,
  6% {
    transform: translate(-2px, 0) skew(50deg);
    color: green;
  }
  6%,
  7% {
    transform: translate(-50px, 5) skew(500deg);
    color: red;
  }
  10%,
  16% {
    transform: translate(10px, 0px) skew(-500deg);
    color: purple;
  }
  17%,
  26% {
    transform: translate(4px, 0px) skew(-10deg);
    color: rgb(0, 0, 0);
  }

  28%,
  62% {
    transform: translate(0, 0) skew(5deg);
    color: rgb(0, 0, 0);
  }
}

.navMob {
  display: none;
}

h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

#crewCard1 {
  left: 0.4vw;
  top: 0vw;
}
#crewCard2 {
  left: 21.2vw;
  top: 13.5vw;
}
#crewCard3 {
  left: 42.5vw;
  top: 4.3vw;
}
#crewCard4 {
  left: 62.8vw;
  top: 17vw;
}
#crewCard5 {
  left: 4.5vw;
  top: 39.1vw;
}
#crewCard6 {
  left: 10.6vw;
  top: 58.6vw;
}
#crewCard7 {
  left: 39.1vw;
  top: 41.3vw;
}
#crewCard8 {
  left: 60vw;
  top: 61.5vw;
}
#crewCard9 {
  left: 0.4vw;
  top: 87.2vw;
}
#crewCard10 {
  left: 24.7vw;
  top: 100.2vw;
}
#crewCard11 {
  left: 51.8vw;
  top: 82.3vw;
}
#crewCard12 {
  left: 4.5vw;
  top: 124.2vw;
}
#crewCard13 {
  left: 39.1vw;
  top: 125.7vw;
}
#crewCard14 {
  left: 58.4vw;
  top: 112.4vw;
}
#crewCard15 {
  left: 12vw;
  top: 158.9vw;
}
#crewCard16 {
  left: 32.8vw;
  top: 148.8vw;
}
#crewCard17 {
  left: 65.8vw;
  top: 160vw;
}
#crewCard18 {
  left: 1vw;
  top: 188.7vw;
}
#crewCard19 {
  left: 27vw;
  top: 202.6vw;
}
#crewCard20 {
  left: 41.4vw;
  top: 178.9vw;
}
#crewCard21 {
  left: 61.1vw;
  top: 191.6vw;
}

#crewCard1 img {
  width: 15.954vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide1;
  animation-duration: 100s;
  animation-delay: 3s;
}
#crewCard2 img {
  width: 17.688vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide2;
  animation-duration: 90s;
  animation-delay: 0.1s;
}
#crewCard3 img {
  width: 16.59vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide3;
  animation-duration: 100s;
  animation-delay: 4s;
}
#crewCard4 img {
  width: 19.942vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide4;
  animation-duration: 96s;
  animation-delay: 2s;
}
#crewCard5 img {
  width: 18.786vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide5;
  animation-duration: 98s;
  animation-delay: 1s;
}
#crewCard6 img {
  width: 21.734vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide6;
  animation-duration: 94s;
  animation-delay: 2s;
}
#crewCard7 img {
  width: 16.358vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide1;
  animation-duration: 98s;
  animation-delay: 8s;
}
#crewCard8 img {
  width: 20.52vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide4;
  animation-duration: 102s;
  animation-delay: 6s;
}
#crewCard9 img {
  width: 18.324vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide2;
  animation-duration: 100s;
  animation-delay: 6s;
}
#crewCard10 img {
  width: 22.023vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide5;
  animation-duration: 100s;
  animation-delay: 4s;
}
#crewCard11 img {
  width: 18.497vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide3;
  animation-duration: 94s;
  animation-delay: 3s;
}
#crewCard12 img {
  width: 22.312vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide2;
  animation-duration: 93s;
  animation-delay: 0.2s;
}
#crewCard13 img {
  width: 17.919vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide1;
  animation-duration: 98s;
  animation-delay: 0.1s;
}
#crewCard14 img {
  width: 18.844vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide1;
  animation-duration: 104s;
  animation-delay: 1s;
}
#crewCard15 img {
  width: 17.919vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide4;
  animation-duration: 92s;
  animation-delay: 4s;
}
#crewCard16 img {
  width: 22.89vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide6;
  animation-duration: 90s;
  animation-delay: 4s;
}
#crewCard17 img {
  width: 15.549vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide3;
  animation-duration: 104s;
  animation-delay: 10s;
}
#crewCard18 img {
  width: 16.127vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide5;
  animation-duration: 96s;
  animation-delay: 7s;
}
#crewCard19 img {
  width: 14.913vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide2;
  animation-duration: 96s;
  animation-delay: 10s;
}
#crewCard20 img {
  width: 18.208vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide3;
  animation-duration: 90s;
  animation-delay: 5s;
}
#crewCard21 img {
  width: 22.197vw;
  height: auto;
  animation-iteration-count: infinite;
  animation-name: slide1;
  animation-duration: 100s;
  animation-delay: 6s;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 2.775vw;
  padding-bottom: 2.775vw;
}

.head {
  height: fit-content;
  width: 12vw;
}

.head h2 {
  padding: 0.231vw 0.231vw 0vw 0.231vw;
  background: #feeb30;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  width: fit-content;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 0.462vw;
  margin-top: 0;
}

h5 {
  background: #2400ff;
  padding: 0.231vw 0.462vw 0.116vw;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  width: 6.2vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.wrapperAbout {
  display: flex;
  flex-direction: row;
}

.aboutText p {
  margin: 0;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 180%;
  /* or 32px */
  width: 64vw;

  color: #000000;
}

.aboutCrew {
  position: relative;
  height: 226vw;
}

.navbar2 {
  background: #ffffff;
}

.row2 a {
  color: #000000;
  font-family: "Decima Mono Cyr";
  font-size: 1.04vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.156vw;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.699vw;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.549vw;
  width: 100%;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.partners p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  /* identical to box height, or 20px */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.crewCard {
  position: absolute;
  width: fit-content;
}

.crewCard h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  padding-bottom: 0.462vw;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0;

  color: #000000;
}

.crewCard h5 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  letter-spacing: 0.05em;
  width: fit-content;
  color: #ffffff;
  margin-bottom: 0.462vw;
  margin-top: 0;
}

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.549vw;
}

.partnersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1.387vw;
}

.partners p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.156vw;
  line-height: 102%;
  /* or 20px */

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #a0a0a0;
}

.contacts {
  display: flex;
  flex-direction: row;

  /* display: none; */
}
.contacts h2 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.387vw;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-transform: uppercase;

  /* Bg */

  color: #f9f2eb;
}

.contacts h3 {
  margin: 0;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  padding-bottom: 1.387vw;
  /* identical to box height, or 20px */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.contacts p {
  margin: 0;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 180%;
  /* or 32px */

  color: #7e7e7e;
}

.contactsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contactsRow2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.387vw;
  padding-top: 13.295vw;
}

.contactsRowItem {
  padding-right: 5.549vw;
}

.contactsRow2 p {
  color: #92867b;
}

.header {
  display: none;
}

@media screen and (max-width: 428px) {
  body {
    padding-right: 6.154vw;
    padding-left: 6.154vw;
  }

  @keyframes slide7 {
    0.1% {
      filter: contrast(0) invert(0.2);
      transform: translate(-5px, -2px) skew(8deg);
    }
    0.3% {
      filter: contrast(20) invert(0);
      transform: translate(8px, -4px) skew(-10deg);
    }
    0.4% {
      filter: contrast(500) invert(1);
      transform: translate(-10px, 0) skew(-12deg);
    }
    0.6% {
      filter: contrast(50) invert(0.2);
      transform: translate(4px, 0) skew(20deg);
    }
    0.8%,
    25% {
      filter: contrast(1);
      transform: translate(0, 0) skew(0);
    }

    25.1% {
      filter: contrast(1) invert(0);
      transform: translate(4px, 0px) skew(-9deg);
    }
    25.2% {
      filter: contrast(500) invert(1);
      transform: translate(-6px, 0px) skew(5deg);
    }
    25.5% {
      filter: contrast(50) invert(0.2);
      transform: translate(10px, 0px) skew(-20deg);
    }
    25.7% {
      filter: contrast(500) invert(0);
      transform: translate(-4px, 2px) skew(3deg);
    }
    25.9% {
      filter: contrast(50) invert(0.2);
      transform: translate(4px, 0px) skew(-6deg);
    }
    26.1%,
    40% {
      filter: contrast(1) invert(0);
      transform: translate(0, 0) skew(0);
    }
    40.1% {
      filter: contrast(50) invert(0.4);
      transform: translate(12px, 3px) skew(-9deg);
    }
    40.3% {
      filter: contrast(500) invert(1);
      transform: translate(-8px, 8px) skew(6deg);
    }
    40.4% {
      filter: contrast(50) invert(0);
      transform: translate(4px, 2px) skew(-20deg);
    }
    40.7%,
    90% {
      filter: contrast(1);
      transform: translate(0, 0) skew(0);
    }
    90.1% {
      filter: contrast(1) invert(0.4);
      transform: translate(4px, 0px) skew(-10deg);
    }
    90.2% {
      filter: contrast(500) invert(0);
      transform: translate(-6px, 0px) skew(10deg);
    }
    90.4% {
      filter: contrast(70) invert(1);
      transform: translate(8px, 3px) skew(-20deg);
    }
    90.6% {
      filter: contrast(500) invert(0);
      transform: translate(-8px, 4px) skew(8deg);
    }
    90.8% {
      filter: contrast(20) invert(0.6);
      transform: translate(10px, 0px) skew(-10deg);
    }
    90.9% {
      filter: contrast(500) invert(0.2);
      transform: translate(-4px, 2px) skew(9deg);
    }
    91% {
      filter: contrast(50) invert(1);
      transform: translate(8px, 0px) skew(-30deg);
    }
    91.2%,
    100% {
      filter: contrast(1) invert(0);
      transform: translate(0, 0) skew(0);
    }
  }

  @keyframes slide8 {
    0%,
    22% {
      filter: contrast(1) invert(0);
      transform: translate(0) skew(0);
    }
    22.25% {
      filter: contrast(0) invert(0);
      transform: translate(10px, -2px) skew(8deg);
    }
    22.4% {
      filter: contrast(2) invert(1);
      transform: translate(-7px, 2px) skew(-10deg);
    }
    22.6% {
      filter: contrast(500) invert(0.2);
      transform: translate(10px, 0) skew(8deg);
    }
    22.9% {
      filter: contrast(50) invert(0);
      transform: translate(4px, 2px) skew(-20deg);
    }
    23%,
    50.1% {
      filter: contrast(1) invert(0);
      transform: translate(0) skew(0);
    }

    50.2% {
      filter: contrast(1) invert(1);
      transform: translate(4px, -2px) skew(9deg);
    }
    50.5% {
      filter: contrast(50) invert(0);
      transform: translate(-10px, 0px) skew(-5deg);
    }
    51% {
      filter: contrast(0) invert(0.2);
      transform: translate(8px, 0px) skew(20deg);
    }
    51.3% {
      filter: contrast(500) invert(0.2);
      transform: translate(-6px, -4px) skew(-6deg);
    }
    51.5%,
    70% {
      filter: contrast(1) invert(0);
      transform: translate(0, 0) skew(0);
    }
    70.2% {
      filter: contrast(50) invert(0.4);
      transform: translate(4px, 2px) skew(9deg);
    }
    70.5% {
      filter: contrast(500) invert(0);
      transform: translate(-7px, 8px) skew(-6deg);
    }
    70.9% {
      filter: contrast(50) invert(1);
      transform: translate(-5px, 2px) skew(20deg);
    }
    71.2%,
    100% {
      filter: contrast(1) invert(0);
      transform: translate(0, 0) skew(0);
    }
  }

  .contactsRowItem {
    padding-bottom: 12vw;
  }

  .navbar2 {
    display: none;
  }

  .navMob {
    padding-top: 4vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.256vw;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .aboutText p {
    padding-top: 2.051vw;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 163%;
    /* or 26px */
    width: 87.436vw;
    padding-bottom: 10.256vw;

    color: #000000;
  }

  .head h2 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 109%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 0;

    color: #000000;
  }

  .contacts {
    padding-top: 10.256vw;
    padding-bottom: 10.256vw;
    flex-direction: column;
  }

  .contactsRowItem h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 109%;
    /* identical to box height, or 20px */

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 2vw;

    color: #000000;
  }

  .contactsRowItem p {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 163%;
    padding-bottom: 0;
    /* or 26px */

    color: #7e7e7e;
  }

  .aboutCrew {
    padding-top: 10.256vw;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: end;
    padding-bottom: 10.256vw;
    margin-right: -6.5vw;
    margin-left: -6.7vw;
    padding-left: 6.7vw;
  }

  .crewCard {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 4.103vw;
  }

  #crewCard1 {
    top: 0;
    left: 0;
  }

  #crewCard2 {
    top: 0;
    left: 0;
  }

  #crewCard3 {
    top: 0;
    left: 0;
  }

  #crewCard4 {
    top: 0;
    left: 0;
  }

  #crewCard5 {
    top: 0;
    left: 0;
  }

  #crewCard6 {
    top: 0;
    left: 0;
  }

  #crewCard7 {
    top: 0;
    left: 0;
  }

  #crewCard8 {
    top: 0;
    left: 0;
  }

  #crewCard9 {
    top: 0;
    left: 0;
  }

  #crewCard10 {
    top: 0;
    left: 0;
  }

  #crewCard11 {
    top: 0;
    left: 0;
  }

  #crewCard12 {
    top: 0;
    left: 0;
  }

  #crewCard13 {
    top: 0;
    left: 0;
  }

  #crewCard14 {
    top: 0;
    left: 0;
  }

  #crewCard15 {
    top: 0;
    left: 0;
  }

  #crewCard16 {
    top: 0;
    left: 0;
  }

  #crewCard17 {
    top: 0;
    left: 0;
  }

  #crewCard18 {
    top: 0;
    left: 0;
  }

  #crewCard19 {
    top: 0;
    left: 0;
  }

  #crewCard20 {
    top: 0;
    left: 0;
  }

  #crewCard21 {
    top: 0;
    left: 0;
  }

  #crewCard1 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 20s;
    animation-delay: 2s;
  }

  #crewCard2 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 20s;
    animation-delay: 2s;
  }

  #crewCard3 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 22s;
    animation-delay: 0.1s;
  }

  #crewCard4 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 18s;
    animation-delay: 4s;
  }

  #crewCard5 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 20s;
    animation-delay: 2s;
  }

  #crewCard6 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 17s;
    animation-delay: 3s;
  }

  #crewCard7 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 21s;
    animation-delay: 0.2s;
  }

  #crewCard8 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 21s;
    animation-delay: 1s;
  }

  #crewCard9 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 19s;
    animation-delay: 4s;
  }

  #crewCard10 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 22s;
    animation-delay: 1s;
  }

  #crewCard11 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 17s;
    animation-delay: 4s;
  }

  #crewCard12 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 20s;
    animation-delay: 2s;
  }

  #crewCard13 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 22s;
    animation-delay: 0.2s;
  }

  #crewCard14 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 17s;
    animation-delay: 4s;
  }

  #crewCard15 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 21s;
    animation-delay: 3.5s;
  }

  #crewCard16 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 19s;
    animation-delay: 1.2s;
  }

  #crewCard17 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 22s;
    animation-delay: 6s;
  }

  #crewCard18 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 17s;
    animation-delay: 1.4s;
  }

  #crewCard19 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 20.5s;
    animation-delay: 0.8s;
  }

  #crewCard20 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide8;
    animation-duration: 18s;
    animation-delay: 1.2s;
  }

  #crewCard21 Img {
    width: auto;
    height: 100vw;
    animation-iteration-count: infinite;
    animation-name: slide7;
    animation-duration: 19.4s;
    animation-delay: 3s;
  }

  .crewCard h4 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    padding-bottom: 1vw;
    line-height: 115%;
    margin-bottom: 0;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;
  }

  .crewCard h5 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    margin-top: 0;

    /* identical to box height, or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 2.051vw;

    color: #ffffff;
  }

  .partners {
    padding-top: 20.513vw;
  }

  .partnersRow {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .partners p {
    padding-bottom: 4.673vw;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 110%;
    /* identical to box height, or 20px */
    letter-spacing: 0.05em;

    color: #000000;
  }

  .footerCopyright p {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 120%;
    /* identical to box height, or 22px */
    /* Teritary */
    color: #92867b;
    margin: 0 auto 0 0;
    margin-right: auto;
  }

  .footerMain {
    padding-top: 0;
    align-items: flex-end;
  }

  .footerCopyright {
    padding-top: 24.615vw;
  }

  .header {
    display: block;
  }

  .menuWrapper {
    display: flex;
    justify-content: space-between;
    z-index: 50;
    background-color: white;
    width: 100%;
    padding-top: 10.256vw;
    padding-bottom: 6.154vw;
  }

  .logo2 {
    position: relative;
  }

  .menuMedia {
    padding-top: 10.256vw;
    position: relative;
    justify-content: flex-end;
    display: flex;
  }

  .menuMedia a {
    padding-left: 8px;
  }

  .menu-button {
    width: 10.256vw;
    height: 10.256vw;
    cursor: pointer;
    z-index: 33;
    display: block;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-button__wrapper {
    position: relative;
    z-index: 33;
  }
  .menu-button__bar {
    background-color: #000000;
    height: 2px;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 0.4s ease;
  }
  .menu-button__bar:nth-of-type(2) {
    top: 8px;
  }
  .menu-button__bar:nth-of-type(3) {
    top: 16px;
  }
  .menu-button.active .menu-button__bar {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-button.active .menu-button__bar:nth-of-type(2) {
    transform: translateX(2rem);
    opacity: 0;
    visibility: hidden;
  }
  .menu-button.active .menu-button__bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-overlay {
    background-color: white;
    height: 100vh;
    width: calc(100% - 4rem);
    right: 0;
    position: fixed;
    padding: 8rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateX(100%);
    z-index: 22;
  }
  .menu-overlay.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  .background-overlay {
    background-color: rgba(25, 25, 25, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
    position: fixed;
  }
  .background-overlay.bg-overlay {
    opacity: 1;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__item {
    text-decoration: none;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    /* identical to box height, or 20px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;

    color: #000000;
    transition: all 0.4s ease;
    position: relative;
    align-self: flex-end;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .nav__item::after {
    content: "";
    background-color: #191919;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.4s ease;
  }
  .nav__item:hover::after {
    width: 100%;
  }
  .button {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #191919;
    align-self: flex-start;
    transition: all 0.4s ease;
  }
  .button:hover {
    background-color: rgba(25, 25, 25, 0.75);
  }
  .content {
    max-width: 1440px;
    padding: 0 2rem;
  }

  .wrapperTop {
    padding-top: 20.513vw;
  }
}
