@import url(/css/reset.css);

.logo {
    width: 142px;
    height: 79.88px;
    display: block;
    background: url('../images/logo.png');
    animation: logo 5s steps(1) infinite;
    left: 50%;
    top: 10%;
    background-color: #F9F2EB;
}

.logo2 {
    width: 142px;
    height: 79.88px;
    display: block;
    background: url('../images/logo2.png');
    animation: logo 5s steps(1) infinite;
    left: 50%;
    top: 10%;
}

p {
    font-family: Euclid Square;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109%;
    /* or 26px */
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    /* Bg */
    padding-left: 32px;
    padding-top: 26px;
}

.row1 p {
    color:#0F0F13;
}

.row2 p {
    color:#F9F2EB;
}

.row1 {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding-left: 780px;
}

.row2 {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding-left: 780px;
}

.s1 {
    display: flex;
    background-color: #F9F2EB;
    width: 100%;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.s2 {
    display: flex;
    background-color: #0F0F13;
    width: 100%;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
}


@keyframes logo{
    /* 0% {background-position: 0px 0; opacity:0 ;} */
    1% {background-position: 0px 0; opacity:1 ;}
    2% {background-position: -142px 0;}
    3% {background-position: -284px 0;}
    4% {background-position: -426px 0;}
    5% {background-position: -568px 0;}
    6% {background-position: -710px 0;}
    7% {background-position: -852px 0;}
    8% {background-position: -994px 0;}
    9% {background-position: -1136px 0;}
    10% {background-position: -1278px 0;}
    11% {background-position: 0px -79.88px;}
    12% {background-position: -142px -79.88px;}
    13% {background-position: -284px -79.88px;}
    14% {background-position: -426px -79.88px;}
    15% {background-position: -568px -79.88px;}
    16% {background-position: -710px -79.88px;}
    17% {background-position: -852px -79.88px;}
    18% {background-position: -994px -79.88px;}
    19% {background-position: -1136px -79.88px;}
    20% {background-position: -1278px -79.88px;}
    21% {background-position: 0px -159.76px;}
    22% {background-position: -142px -159.76px;}
    23% {background-position: -284px -159.76px;}
    24% {background-position: -426px -159.76px;}
    25% {background-position: -568px -159.76px;}
    26% {background-position: -710px -159.76px;}
    27% {background-position: -852px -159.76px;}
    28% {background-position: -994px -159.76px;}
    29% {background-position: -1136px -159.76px;}
    30% {background-position: -1278px -159.76px;}
    31% {background-position: 0px -239.64px;}
    32% {background-position: -142px -239.64px;}
    33% {background-position: -284px -239.64px;}
    34% {background-position: -426px -239.64px;}
    35% {background-position: -568px -239.64px;}
    36% {background-position: -710px -239.64px;}
    37% {background-position: -852px -239.64px;}
    38% {background-position: -994px -239.64px;}
    39% {background-position: -1136px -239.64px;}
    40% {background-position: -1278px -239.64px;}
    41% {background-position: 0px -319.52px;}
    42% {background-position: -142px -319.52px;}
    43% {background-position: -284px -319.52px;}
    44% {background-position: -426px -319.52px;}
    45% {background-position: -568px -319.52px;}
    46% {background-position: -710px -319.52px;}
    47% {background-position: -852px -319.52px;}
    48% {background-position: -994px -319.52px;}
    49% {background-position: -1136px -319.52px;}
    50% {background-position: -1278px -319.52px;}
    51% {background-position: 0px -399.4px;}
    52% {background-position: -142px -399.4px;}
    53% {background-position: -284px -399.4px;}
    54% {background-position: -426px -399.4px;}
    55% {background-position: -568px -399.4px;}
    56% {background-position: -710px -399.4px;}
    57% {background-position: -852px -399.4px;}
    58% {background-position: -994px -399.4px;}
    59% {background-position: -1136px -399.4px;}
    60% {background-position: -1278px -399.4px;}
    51% {background-position: 0px -479.28px;}
    52% {background-position: -142px -479.28px;}
    53% {background-position: -284px -479.28px;}
    54% {background-position: -426px -479.28px;}
    55% {background-position: -568px -479.28px;}
    56% {background-position: -710px -479.28px;}
    57% {background-position: -852px -479.28px;}
    58% {background-position: -994px -479.28px;}
    59% {background-position: -1136px -479.28px;}
    60% {background-position: -1278px -479.28px;}
    61% {background-position: 0px -559.16px;}
    62% {background-position: -142px -559.16px;}
    63% {background-position: -284px -559.16px;}
    64% {background-position: -426px -559.16px;}
    65% {background-position: -568px -559.16px;}
    66% {background-position: -710px -559.16px;}
    67% {background-position: -852px -559.16px;}
    68% {background-position: -994px -559.16px;}
    69% {background-position: -1136px -559.16px;}
    70% {background-position: -1278px -559.16px;}
    71% {background-position: 0px -639.04px;}
    72% {background-position: -142px -639.04px;}
    73% {background-position: -284px -639.04px;}
    74% {background-position: -426px -639.04px;}
    75% {background-position: -568px -639.04px;}
    76% {background-position: -710px -639.04px;}
    77% {background-position: -852px -639.04px;}
    78% {background-position: -994px -639.04px;}
    79% {background-position: -1136px -639.04px;}
    80% {background-position: -1278px -639.04px;}
    81% {background-position: 0px -718.92px;}
    82% {background-position: -142px -718.92px;}
    83% {background-position: -284px -718.92px;}
    84% {background-position: -426px -718.92px;}
    85% {background-position: -568px -718.92px;}
    86% {background-position: -710px -718.92px;}
    87% {background-position: -852px -718.92px;}
    88% {background-position: -994px -718.92px;}
    89% {background-position: -1136px -718.92px;}
    90% {background-position: -1278px -718.92px;}
    91% {background-position: 0px -798.8px;}
    92% {background-position: -142px -798.8px;}
    93% {background-position: -284px -798.8px;}
    94% {background-position: -426px -798.8px;}
    95% {background-position: -568px -798.8px;}
    96% {background-position: -710px -798.8px;}
    97% {background-position: -852px -798.8px;}
    98% {background-position: -994px -798.8px;}
    99% {background-position: -1136px -798.8px;}
    100% {background-position: -1278px -798.8px;}
}