@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.navMob {
  display: none;
}

body {
  /* background: #F9F2EB; */
  background: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

h1 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.965vw;
  line-height: 120%;
  /* or 41px */
  padding-bottom: 0.462vw;
  text-transform: uppercase;

  /* Bg */

  color: #f9f2eb;
}

h2 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.387vw;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-transform: uppercase;
  /* Secondary */
  color: #12101f;
  padding-bottom: 0.925vw;
}

.releases h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  padding-bottom: 0.462vw;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;

  color: #ffffff;
}

#l1 img {
  width: 35.029vw;
  height: 21.329vw;
}

#l2 img {
  width: 32.717vw;
  height: 21.329vw;
}

#l3 img {
  width: 42.601vw;
  height: 21.329vw;
}

#l4 img {
  width: 35.029vw;
  height: 21.329vw;
}

.portfolio h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;

  /* Bg */

  color: #fff;
}

.draggable {
  width: fit-content;
  position: absolute;
}

.portfolio {
  position: relative;
  height: 260vw;
}

.portfolio2 {
  position: relative;
  height: 60vw;
}

.draggable {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: contrast(555) hue-rotate(31deg) brightness(0.14) saturate(50);
  width: fit-content;
  padding: 0.058vw 0.347vw 0.347vw 0.347vw;
}

.draggable:hover > h3 {
  animation: glitchtxt 1s 0s 1;
}

.draggable:hover {
  animation: glitchdrag 1s 0s 1 none;
}

.draggableO {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: contrast(555) hue-rotate(31deg) brightness(0.14) saturate(50);
  width: fit-content;
  padding: 0.058vw 0.347vw 0.347vw 0.347vw;
}

.draggableO:hover > h3 {
  animation: glitchtxt 1s 0s 1;
}

.draggableO:hover {
  animation: glitchdrag 1s 0s 1 none;
}

/* .draggable:active {
  animation: glitchwork 0.08s 0s infinite;
} */

@keyframes glitchwork {
  0% {
    backdrop-filter: contrast(555) hue-rotate(31deg) brightness(0.14)
      saturate(50);
  }

  10% {
    backdrop-filter: contrast(800) hue-rotate(180deg) brightness(0.24)
      saturate(200);
  }
  15% {
    backdrop-filter: contrast(2) hue-rotate(230deg) brightness(0.19)
      saturate(500);
  }
  18% {
    backdrop-filter: contrast(5) hue-rotate(230deg) brightness(0.19)
      saturate(500);
  }

  20% {
    backdrop-filter: contrast(10) hue-rotate(120deg) brightness(0.3)
      saturate(250);
  }
  22% {
    backdrop-filter: contrast(1200) hue-rotate(20deg) brightness(0.2)
      saturate(300) sepia(90%);
  }
  27% {
    backdrop-filter: contrast(120) hue-rotate(280deg) brightness(0.1)
      saturate(300);
  }

  34% {
    backdrop-filter: contrast(200) hue-rotate(10deg) brightness(0.15)
      saturate(900);
  }
  40% {
    backdrop-filter: contrast(555) hue-rotate(50deg) brightness(0.04)
      saturate(80);
  }
  43% {
    backdrop-filter: contrast(100) hue-rotate(300deg) brightness(0.34)
      saturate(100);
  }
}

@keyframes glitchtxt {
  2%,
  3% {
    transform: translate(5px, 0) skew(10deg);
    color: blue;
  }
  4%,
  6% {
    transform: translate(-2px, 0) skew(50deg);
    color: green;
  }
  6%,
  7% {
    transform: translate(-50px, 5) skew(500deg);
    color: red;
  }
  10%,
  16% {
    transform: translate(10px, 0px) skew(-500deg);
    color: white;
  }
  17%,
  26% {
    transform: translate(4px, 0px) skew(-10deg);
  }

  28%,
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchdrag {
  1% {
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-30deg);
  }
  5% {
    filter: saturate(100%) contrast(500) hue-rotate(120deg);
    transform: translate(-5px, 0px) skew(5deg);
  }
  8%,
  100% {
    filter: saturate(100%) contrast(1) hue-rotate(0deg);
    transform: translate(0, 0) skew(0);
  }
}

@keyframes glitchdrag_onload {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-30deg) scaleY(0);
  }
  25% {
    filter: saturate(500%) contrast(500) hue-rotate(120deg);
    transform: translate(-200px, 0px) skew(5deg) scaleY(0.1) scaleX(1.5);
  }
  28% {
    transform: translate(-10px, 0px) skew(80deg) scaleY(0.01) scaleX(1);
  }
  34% {
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-100deg) scaleY(0.01);
  }
  48% {
    filter: saturate(500%) contrast(500) hue-rotate(120deg);
    transform: translate(-200px, 0px) skew(2deg) scaleY(0.1) scaleX(1.5);
    filter: saturate(100%) contrast(100) brightness(1000) hue-rotate(120deg);
  }
  62%,
  80% {
    transform: translate(-10px, 0px) skew(0deg) scaleY(0.01) scaleX(1);
  }

  81%,
  100% {
    filter: saturate(100%) contrast(1) hue-rotate(0deg) scaleY(1) scaleX(1);
  }
}

.draggable1 {
  opacity: 0;
  left: 0vw;
  top: 4.965vw;
  animation: glitchdrag_onload 0.5s 0.1s 1 forwards;
}
.draggable2 {
  opacity: 0;
  left: 24.104vw;
  top: 14.676vw;
  animation: glitchdrag_onload 0.2s 0.2s 1 forwards;
}
.draggable3 {
  opacity: 0;
  left: 35.613vw;
  top: 1.728vw;
  animation: glitchdrag_onload 0.4s 0.12s 1 forwards;
}
.draggable4 {
  opacity: 0;
  left: 47.867vw;
  top: 12.191vw;
  animation: glitchdrag_onload 0.2s 0.13s 1 forwards;
}
.draggable5 {
  opacity: 0;
  left: 64.341vw;
  top: 3.52vw;
  animation: glitchdrag_onload 0.3s 0.1s 1 forwards;
}
.draggable6 {
  opacity: 0;
  left: 7.058vw;
  top: 28.665vw;
  animation: glitchdrag_onload 0.2s 0.1s 1 forwards;
}
.draggable7 {
  opacity: 0;
  left: 37.578vw;
  top: 35.642vw;
  animation: glitchdrag_onload 0.4s 0.2s 1 forwards;
}
.draggable8 {
  opacity: 0;
  left: 2.087vw;
  top: 60.728vw;
  animation: glitchdrag_onload 0.5s 0.1s 1 forwards;
}
.draggable9 {
  opacity: 0;
  left: 26.017vw;
  top: 65.237vw;
  animation: glitchdrag_onload 0.6s 0.15s 1 forwards;
}
.draggable10 {
  opacity: 0;
  left: 61.855vw;
  top: 59.919vw;
  animation: glitchdrag_onload 0.3s 0.3s 1 forwards;
}

.draggable11 {
  left: 0vw;
  top: 85.179vw;
}
.draggable12 {
  left: 24.861vw;
  top: 99.572vw;
}
.draggable13 {
  left: 46.942vw;
  top: 83.734vw;
}
.draggable14 {
  left: 11.682vw;
  top: 124.775vw;
}
.draggable15 {
  left: 64.861vw;
  top: 128.694vw;
}
.draggable16 {
  left: 1.064vw;
  top: 140.844vw;
}
.draggable17 {
  left: 23.63vw;
  top: 155.41vw;
}
.draggable18 {
  left: 48.445vw;
  top: 143.85vw;
}
.draggable19 {
  left: 11.682vw;
  top: 177.029vw;
}
.draggable20 {
  left: 44.977vw;
  top: 175.41vw;
}

.draggable21 {
  left: 76.653vw;
  top: 168.532vw;
}
.draggable22 {
  left: 3.705vw;
  top: 202.231vw;
}
.draggable23 {
  left: 33.763vw;
  top: 208.879vw;
}
.draggable24 {
  left: 52.954vw;
  top: 190.208vw;
}
.draggable25 {
  left: 8.792vw;
  top: 223.618vw;
}
.draggable26 {
  left: 41.162vw;
  top: 221.306vw;
}
.draggable27 {
  left: 61.855vw;
  top: 210.497vw;
}

.draggable1 img {
  width: 26.474vw;
  height: 18.613vw;
}
.draggable2 img {
  width: 18.15vw;
  height: 23.988vw;
}
.draggable3 img {
  width: 18.902vw;
  height: 17.63vw;
}
.draggable4 img {
  width: 41.618vw;
  height: 34.509vw;
}
.draggable5 img {
  width: 27.919vw;
  height: 18.671vw;
}
.draggable6 img {
  width: 24.624vw;
  height: 26.705vw;
}
.draggable7 img {
  width: 33.699vw;
  height: 21.792vw;
}
.draggable8 img {
  width: 18.902vw;
  height: 18.439vw;
}
.draggable9 img {
  width: 25.607vw;
  height: 24.509vw;
}
.draggable10 img {
  width: 32.37vw;
  height: 19.711vw;
}

.draggable11 img {
  width: 32.659vw;
  height: 26.012vw;
}
.draggable12 img {
  width: 45.202vw;
  height: 38.324vw;
}
.draggable13 img {
  width: 39.769vw;
  height: 23.584vw;
}
.draggable14 img {
  width: 18.266vw;
  height: 18.266vw;
}
.draggable15 img {
  width: 26.994vw;
  height: 25.607vw;
}
.draggable16 img {
  width: 33.642vw;
  height: 31.04vw;
}
.draggable17 img {
  width: 29.191vw;
  height: 24.509vw;
}
.draggable18 img {
  width: 31.503vw;
  height: 17.746vw;
}
.draggable19 img {
  width: 24.855vw;
  height: 27.919vw;
}
.draggable20 img {
  width: 25.434vw;
  height: 16.069vw;
}

.draggable21 img {
  width: 17.63vw;
  height: 17.63vw;
}
.draggable22 img {
  width: 24.913vw;
  height: 16.069vw;
}
.draggable23 img {
  width: 16.069vw;
  height: 16.069vw;
}
.draggable24 img {
  width: 36.763vw;
  height: 27.803vw;
}
.draggable25 img {
  width: 23.295vw;
  height: 24.277vw;
}
.draggable26 img {
  width: 32.832vw;
  height: 24.104vw;
}
.draggable27 img {
  width: 32.37vw;
  height: 19.711vw;
}

.draggableO {
  opacity: 0;
  left: 3.121vw;
  top: 10vw;
  animation: glitchdrag_onload 0.4s 0.1s 1 forwards;
}

.draggableO2 {
  opacity: 0;
  left: 14.277vw;
  top: 30.058vw;
  animation: glitchdrag_onload 0.4s 0.3s 1 forwards;
}

.draggableO3 {
  opacity: 0;
  left: 46.763vw;
  top: 14.335vw;
  animation: glitchdrag_onload 0.2s 0.2s 1 forwards;
}

.draggableO img {
  width: 38.324vw;
  height: 26.936vw;
}

.draggableO2 img {
  width: 39.595vw;
  height: 16.474vw;
}

.draggableO3 img {
  width: 32.312vw;
  height: 24.046vw;
}

.draggableO {
  width: fit-content;
  position: absolute;
}

.removed {
  animation: none;
  opacity: 1;
}

.row1 a {
  color: #fff;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.387vw;
  line-height: 109%;
  /* or 26px */
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  /* Bg */
  padding-left: 1.85vw;
  padding-top: 1.503vw;
  text-decoration: none;
}

.row2 a {
  color: #ffffff;
  font-family: "Decima Mono Cyr";
  font-size: 1.04vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.156vw;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.699vw;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 56vw;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 0 auto;
  margin-left: auto;
}

.navbar1 {
  display: flex;
  background-color: #f9f2eb;
  padding-top: 2.775vw;
  padding-bottom: 2.775vw;
  /* display: none; */
}

.navbar2 {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding-top: 2.775vw;
  padding-bottom: 2.775vw;
  /* display: none; */
}
.navbarPortfolio {
  display: flex;
  flex-direction: row;
  padding-top: 4.624vw;
}

#current {
  background: linear-gradient(rgb(255, 247, 0) 0 0) left / var(--d, 100%) 100%
    no-repeat;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

.navbarPortfolio a {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 109%;
  padding: 0.231vw 0vw 0vw 0.231vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-right: 3.699vw;

  color: #ffffff;
}

.navLink {
  background: linear-gradient(rgb(255, 247, 0) 0 0) left / var(--d, 0%) 100%
    no-repeat;
  transition: 0.5s;
}
.navLink:hover {
  --d: 100%;
  color: rgb(0, 0, 0);
}

.logo {
  background-color: #f9f2eb;
}

.logo2 {
  /* width: 142px;
  height: 79.88px;
  display: block;
  background: url("../images/logo2.png");
  animation: logo 5s steps(1) infinite; */
}

@keyframes logo {
  /* 0% {background-position: 0px 0; opacity:0 ;} */
  1% {
    background-position: 0px 0;
    opacity: 1;
  }

  2% {
    background-position: -142px 0;
  }

  3% {
    background-position: -284px 0;
  }

  4% {
    background-position: -426px 0;
  }

  5% {
    background-position: -568px 0;
  }

  6% {
    background-position: -710px 0;
  }

  7% {
    background-position: -852px 0;
  }

  8% {
    background-position: -994px 0;
  }

  9% {
    background-position: -1136px 0;
  }

  10% {
    background-position: -1278px 0;
  }

  11% {
    background-position: 0px -79.88px;
  }

  12% {
    background-position: -142px -79.88px;
  }

  13% {
    background-position: -284px -79.88px;
  }

  14% {
    background-position: -426px -79.88px;
  }

  15% {
    background-position: -568px -79.88px;
  }

  16% {
    background-position: -710px -79.88px;
  }

  17% {
    background-position: -852px -79.88px;
  }

  18% {
    background-position: -994px -79.88px;
  }

  19% {
    background-position: -1136px -79.88px;
  }

  20% {
    background-position: -1278px -79.88px;
  }

  21% {
    background-position: 0px -159.76px;
  }

  22% {
    background-position: -142px -159.76px;
  }

  23% {
    background-position: -284px -159.76px;
  }

  24% {
    background-position: -426px -159.76px;
  }

  25% {
    background-position: -568px -159.76px;
  }

  26% {
    background-position: -710px -159.76px;
  }

  27% {
    background-position: -852px -159.76px;
  }

  28% {
    background-position: -994px -159.76px;
  }

  29% {
    background-position: -1136px -159.76px;
  }

  30% {
    background-position: -1278px -159.76px;
  }

  31% {
    background-position: 0px -239.64px;
  }

  32% {
    background-position: -142px -239.64px;
  }

  33% {
    background-position: -284px -239.64px;
  }

  34% {
    background-position: -426px -239.64px;
  }

  35% {
    background-position: -568px -239.64px;
  }

  36% {
    background-position: -710px -239.64px;
  }

  37% {
    background-position: -852px -239.64px;
  }

  38% {
    background-position: -994px -239.64px;
  }

  39% {
    background-position: -1136px -239.64px;
  }

  40% {
    background-position: -1278px -239.64px;
  }

  41% {
    background-position: 0px -319.52px;
  }

  42% {
    background-position: -142px -319.52px;
  }

  43% {
    background-position: -284px -319.52px;
  }

  44% {
    background-position: -426px -319.52px;
  }

  45% {
    background-position: -568px -319.52px;
  }

  46% {
    background-position: -710px -319.52px;
  }

  47% {
    background-position: -852px -319.52px;
  }

  48% {
    background-position: -994px -319.52px;
  }

  49% {
    background-position: -1136px -319.52px;
  }

  50% {
    background-position: -1278px -319.52px;
  }

  51% {
    background-position: 0px -399.4px;
  }

  52% {
    background-position: -142px -399.4px;
  }

  53% {
    background-position: -284px -399.4px;
  }

  54% {
    background-position: -426px -399.4px;
  }

  55% {
    background-position: -568px -399.4px;
  }

  56% {
    background-position: -710px -399.4px;
  }

  57% {
    background-position: -852px -399.4px;
  }

  58% {
    background-position: -994px -399.4px;
  }

  59% {
    background-position: -1136px -399.4px;
  }

  60% {
    background-position: -1278px -399.4px;
  }

  51% {
    background-position: 0px -479.28px;
  }

  52% {
    background-position: -142px -479.28px;
  }

  53% {
    background-position: -284px -479.28px;
  }

  54% {
    background-position: -426px -479.28px;
  }

  55% {
    background-position: -568px -479.28px;
  }

  56% {
    background-position: -710px -479.28px;
  }

  57% {
    background-position: -852px -479.28px;
  }

  58% {
    background-position: -994px -479.28px;
  }

  59% {
    background-position: -1136px -479.28px;
  }

  60% {
    background-position: -1278px -479.28px;
  }

  61% {
    background-position: 0px -559.16px;
  }

  62% {
    background-position: -142px -559.16px;
  }

  63% {
    background-position: -284px -559.16px;
  }

  64% {
    background-position: -426px -559.16px;
  }

  65% {
    background-position: -568px -559.16px;
  }

  66% {
    background-position: -710px -559.16px;
  }

  67% {
    background-position: -852px -559.16px;
  }

  68% {
    background-position: -994px -559.16px;
  }

  69% {
    background-position: -1136px -559.16px;
  }

  70% {
    background-position: -1278px -559.16px;
  }

  71% {
    background-position: 0px -639.04px;
  }

  72% {
    background-position: -142px -639.04px;
  }

  73% {
    background-position: -284px -639.04px;
  }

  74% {
    background-position: -426px -639.04px;
  }

  75% {
    background-position: -568px -639.04px;
  }

  76% {
    background-position: -710px -639.04px;
  }

  77% {
    background-position: -852px -639.04px;
  }

  78% {
    background-position: -994px -639.04px;
  }

  79% {
    background-position: -1136px -639.04px;
  }

  80% {
    background-position: -1278px -639.04px;
  }

  81% {
    background-position: 0px -718.92px;
  }

  82% {
    background-position: -142px -718.92px;
  }

  83% {
    background-position: -284px -718.92px;
  }

  84% {
    background-position: -426px -718.92px;
  }

  85% {
    background-position: -568px -718.92px;
  }

  86% {
    background-position: -710px -718.92px;
  }

  87% {
    background-position: -852px -718.92px;
  }

  88% {
    background-position: -994px -718.92px;
  }

  89% {
    background-position: -1136px -718.92px;
  }

  90% {
    background-position: -1278px -718.92px;
  }

  91% {
    background-position: 0px -798.8px;
  }

  92% {
    background-position: -142px -798.8px;
  }

  93% {
    background-position: -284px -798.8px;
  }

  94% {
    background-position: -426px -798.8px;
  }

  95% {
    background-position: -568px -798.8px;
  }

  96% {
    background-position: -710px -798.8px;
  }

  97% {
    background-position: -852px -798.8px;
  }

  98% {
    background-position: -994px -798.8px;
  }

  99% {
    background-position: -1136px -798.8px;
  }

  100% {
    background-position: -1278px -798.8px;
  }
}

.title {
  animation: glitch 1s linear infinite;
}

a {
  color: #fff;
  font-size: 1.387vw;
  font-family: "Decima Mono Cyr";
  text-decoration: none;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(1px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-1px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.title:before,
.title:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.title:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(1px, -1px);
  }

  4%,
  60% {
    transform: translate(-1px, 1px);
  }

  62% {
    transform: translate(6px, -1px) skew(-12deg);
  }
}

.title:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-1px, 0);
  }

  4%,
  60% {
    transform: translate(-1px, 0);
  }

  62% {
    transform: translate(-11px, 3px) skew(20deg);
  }
}

.releasesSection {
  padding-top: 2.312vw;
  display: flex;
  flex-direction: row;
}

.releasesVideo {
  position: relative;
  padding-right: 0.925vw;
  padding-bottom: 10.256vw;
}

.showreal {
  margin-left: -1.5vw;
  margin-right: -1.5vw;
}

.showreal video {
  width: 100vw;
  overflow-x: hidden;
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}

.footerMain,
.footerTalents,
.footerTalentPage {
  padding-top: 2.775vw;
  padding-bottom: 1.387vw;
}

.footerMain {
  display: flex;
  flex-direction: row;
  /* display: none; */
}

.footerTalents {
  /* display: none; */
}

.footerTalentPage {
  /* display: none; */
}

.footerContactsRow2 {
  padding-top: 5.549vw;
  padding-bottom: 2.775vw;
  display: flex;
}
.footerCopyright {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 120%;
  /* identical to box height, or 22px */
  /* Teritary */
  color: #92867b;
  margin: 0 0 0 auto;
  margin-left: auto;
}

.footerSocialMedia {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerSocialMedia a {
  padding-right: 1.387vw;
}

@media screen and (max-width: 428px) {
  body {
    padding-right: 6.154vw;
    padding-left: 6.154vw;
  }

  .showreal {
    margin-right: -6vw;
    margin-left: -6vw;
    height: 64vw;
    padding-bottom: 10.256vw;
  }

  .navbarPortfolio {
    overflow-x: scroll;
  }

  .navbar2 {
    display: none;
  }

  .navMob {
    padding-top: 4vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10.256vw;
  }

  .navbarPortfolio a {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 110%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .navbarPortfolio {
    padding-bottom: 10.256vw;
  }

  .releasesVideo h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    padding-bottom: 4.615vw;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    /* Bg */

    color: #ffffff;
  }

  .releasesVideo {
    width: 87.692vw;
    padding-right: 4.103vw;
    height: auto;
  }

  .footerCopyright p {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 120%;
    /* identical to box height, or 22px */
    /* Teritary */
    color: #92867b;
    margin: 0 auto 0 0;
    margin-right: auto;
  }

  .footerMain {
    align-items: flex-end;
  }

  .footerCopyright {
    padding-top: 24.615vw;
  }

  #l1 img {
    width: 87.692vw;
    height: auto;
  }

  #l2 img {
    width: 87.692vw;
    height: auto;
  }

  #l3 img {
    width: 87.692vw;
    height: auto;
  }

  #l4 img {
    width: 87.692vw;
    height: auto;
  }

  .footerContactsRow2 {
    align-items: end;
  }

  .portfolio {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #draggable {
    top: 0;
    left: 0;
  }

  #draggable2 {
    top: 0;
    left: 0;
  }

  #draggable3 {
    top: 0;
    left: 0;
  }

  #draggable4 {
    top: 0;
    left: 0;
  }

  #draggable5 {
    top: 0;
    left: 0;
  }

  #draggable6 {
    top: 0;
    left: 0;
  }

  #draggable7 {
    top: 0;
    left: 0;
  }

  #draggable8 {
    top: 0;
    left: 0;
  }

  #draggable9 {
    top: 0;
    left: 0;
  }

  #draggable10 {
    top: 0;
    left: 0;
  }

  #draggable11 {
    top: 0;
    left: 0;
  }

  #draggable12 {
    top: 0;
    left: 0;
  }

  #draggable13 {
    top: 0;
    left: 0;
  }

  #draggable14 {
    top: 0;
    left: 0;
  }

  #draggable15 {
    top: 0;
    left: 0;
  }

  #draggable16 {
    top: 0;
    left: 0;
  }

  #draggable17 {
    top: 0;
    left: 0;
  }

  #draggable18 {
    top: 0;
    left: 0;
  }

  #draggable19 {
    top: 0;
    left: 0;
  }

  #draggable20 {
    top: 0;
    left: 0;
  }

  #draggable21 {
    top: 0;
    left: 0;
  }

  #draggable22 {
    top: 0;
    left: 0;
  }

  #draggable23 {
    top: 0;
    left: 0;
  }

  #draggable24 {
    top: 0;
    left: 0;
  }

  #draggable25 {
    top: 0;
    left: 0;
  }

  #draggable26 {
    top: 0;
    left: 0;
  }

  #draggable27 {
    top: 0;
    left: 0;
  }

  #draggable img {
    width: 87.692vw;
    height: auto;
  }

  #draggable2 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable3 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable4 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable5 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable6 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable7 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable8 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable9 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable10 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable11 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable12 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable13 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable14 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable15 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable16 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable17 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable18 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable19 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable20 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable21 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable22 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable23 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable24 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable25 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable26 img {
    width: 87.692vw;
    height: auto;
  }

  #draggable27 img {
    width: 87.692vw;
    height: auto;
  }

  #draggableO {
    top: 0;
    left: 0;
  }

  #draggableO2 {
    top: 0;
    left: 0;
  }

  #draggableO3 {
    top: 0;
    left: 0;
  }

  #draggableO img {
    width: 87.692vw;
    height: auto;
  }

  #draggableO2 img {
    width: 87.692vw;
    height: auto;
  }

  #draggableO3 img {
    width: 87.692vw;
    height: auto;
  }

  .draggable {
    position: relative;
    padding-bottom: 10.256vw;
  }

  .draggableO {
    position: relative;
    padding-bottom: 10.256vw;
  }

  .draggable h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    padding-bottom: 2.051vw;
    /* or 21px */

    letter-spacing: 0.05em;

    /* Bg */

    color: #ffffff;
  }

  .draggableO h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    padding-bottom: 2.051vw;
    /* or 21px */

    letter-spacing: 0.05em;

    /* Bg */

    color: #ffffff;
  }

  .releasesSection {
    padding-top: 2.312vw;
    display: flex;
    flex-direction: column;
  }
}
