@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: white;
  padding-left: 6.154vw;
  padding-right: 6.154vw;
}

.nav a {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 6vw;
  line-height: 123%;
  text-decoration: none;
  padding-bottom: 5vw;
  /* identical to box height, or 27px */

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  /* Secondary */

  color: #000000;
}

.nav {
  background-color: white;
}

.logo {
  padding-bottom: 20vw;
  padding-top: 4vw;
  width: 40vw;
}
.footerSocialMedia {
  display: flex;
}

.footerSocialMedia Img {
  width: 14vw;
  padding-top: 110vw;
  padding-right: 4vw;
}
