@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ffffff;
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.footerTalents {
  display: flex;
  flex-direction: row;
}

.navLink:hover {
  --d: 100%;
  animation: glitchnav 0.5s;
}

@keyframes glitchnav {
  2%,
  3% {
    transform: translate(8px, 0) skew(10deg);
    color: blue;
  }
  4%,
  6% {
    transform: translate(-2px, 0) skew(50deg);
    color: green;
  }
  6%,
  7% {
    transform: translate(-50px, 5) skew(500deg);
    color: red;
  }
  10%,
  16% {
    transform: translate(10px, 0px) skew(-500deg);
    color: purple;
  }
  17%,
  26% {
    transform: translate(4px, 0px) skew(-10deg);
    color: rgb(0, 0, 0);
  }

  28%,
  62% {
    transform: translate(0, 0) skew(5deg);
    color: rgb(0, 0, 0);
  }
}

.footerTalentsContact a {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  padding-left: 0.925vw;
  /* or 22px */

  letter-spacing: 0.05em;

  /* Teritary */

  color: #92867b;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.618vw;
  line-height: 110%;
  /* identical to box height, or 31px */

  letter-spacing: 0.05em;

  color: #000000;
}

h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  /* identical to box height, or 20px */
  letter-spacing: 0.05em;
  margin-bottom: 0;
  margin-top: 0;

  color: #000000;
}

h5 {
  width: fit-content;
  background: #2400ff;
  padding: 0.231vw 0.462vw 0.116vw;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  margin-top: 0.462vw;
  margin-bottom: 0.462vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.navbar2 {
  background: #ffffff;
}

.row2 a {
  color: #000000;
  font-family: "Decima Mono Cyr";
  font-size: 1.04vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.156vw;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3.699vw;
}

.talentImg {
  width: 14.855vw;
  height: 18.324vw;
}

.talentsRow1 {
}

.talentsRow2 {
}

.talentPage {
  display: flex;
  flex-direction: row;
}

.talentsCard {
  width: fit-content;
  position: absolute;
  filter: saturate(0%);
}

.talentPage,
.talentWorks {
  animation: glitcher 0.2s;
}

.talentsCard:active {
  animation: glitcherout 0.3s;
}

.talentsCard:hover {
  animation: glitcher-hov 0.3s;
  filter: saturate(100%);
}

.talents {
  position: relative;
  height: 90vw;
}

.talentCard1 {
  animation: glitcher 0.25s;
  left: 2.8vw;
  top: 6.5vw;
}

.talentCard2 {
  animation: glitcher 0.2s;
  left: 30.6vw;
  top: 10.6vw;
}

.talentCard3 {
  animation: glitcher 0.18s;
  left: 55vw;
  top: 26.7vw;
}

.talentCard4 {
  animation: glitcher 0.25s;
  left: 72.2vw;
  top: 14vw;
}

.talentCard5 {
  animation: glitcher 0.3s;
  left: 5.7vw;
  top: 37.1vw;
}

.talentCard6 {
  animation: glitcher 0.2s;
  left: 25.4vw;
  top: 45.8vw;
}

.talentCard7 {
  animation: glitcher 0.15s;
  left: 46.2vw;
  top: 52.8vw;
}

.talentCard8 {
  animation: glitcher 0.3s;
  left: 75.1vw;
  top: 41.8vw;
}

.talentCard9 {
  animation: glitcher 0.25s;
  left: 14.4vw;
  top: 67.6vw;
}

.talentCard1 img {
  width: 17.11vw;
  height: auto;
}

.talentCard2 img {
  width: 19.133vw;
  height: auto;
}

.talentCard3 img {
  width: 12.543vw;
  height: auto;
}

.talentCard4 img {
  width: 19.422vw;
  height: auto;
}

.talentCard5 img {
  width: 12.543vw;
  height: auto;
}

.talentCard6 img {
  width: 12.89vw;
  height: auto;
}

.talentCard7 img {
  width: 19.364vw;
  height: auto;
}

.talentCard8 img {
  width: 12.543vw;
  height: auto;
}

.talentCard9 img {
  width: 14.971vw;
  height: auto;
}

.navBack {
  align-items: baseline;
  display: flex;
}

.navBack h4 {
  padding-left: 0.462vw;
  padding-bottom: 2.312vw;
}

.talentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.talentInfo {
  padding-left: 2.312vw;
}

.talentInfoContacts {
  padding-top: 2.312vw;
}

.talentInfoContacts a {
  font-family: Decima Mono Cyr;
  font-style: normal;
  font-weight: normal;
  font-size: 1.156vw;
  line-height: 150%;
  /* identical to box height, or 30px */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-right: 3.699vw;

  color: #000000;
}

.talentWorks {
  margin-left: -1.5vw;
  margin-right: -2vw;
  padding-top: 1.387vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 0;
}

.talentWork {
  padding-left: 1.5vw;
}

.talentWork h3 {
  margin: 0;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 110%;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;
  padding-bottom: 0.462vw;

  color: #000000;
}

.footerCopyright {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 120%;
  /* identical to box height, or 22px */
  /* Teritary */
  color: #92867b;
  margin: 0 auto 0 0;
  margin-right: auto;
}

.footerTalent {
  display: flex;
  padding-top: 4.624vw;
  padding-bottom: 2vw;
}

#emil1 img {
  width: 27.341vw;
  height: 16.243vw;
}

#emil2 img {
  width: 23.699vw;
  height: 16.243vw;
}

#emil3 img {
  width: 30.116vw;
  height: 16.243vw;
}

#emil4 img {
  width: 25.607vw;
  height: 16.243vw;
}

#emil5 img {
  width: 21.792vw;
  height: 16.243vw;
}

#emil6 img {
  width: 34.798vw;
  height: 16.243vw;
}

#klim1 img {
  width: 25.723vw;
  height: 16.243vw;
}

#klim2 img {
  width: 25.838vw;
  height: 16.243vw;
}

#klim3 img {
  width: 33.931vw;
  height: 16.243vw;
}

#klim4 img {
  width: 20.231vw;
  height: 16.243vw;
}

#nikita1 img {
  width: 28.844vw;
  height: 16.243vw;
}

#nikita2 img {
  width: 31.387vw;
  height: 16.243vw;
}

#nikita3 img {
  width: 24.104vw;
  height: 16.243vw;
}

#eugeniy1 img {
  width: 41.329vw;
  height: 16.243vw;
}

#eugeniy2 img {
  width: 23.699vw;
  height: 16.243vw;
}

#eugeniy3 img {
  width: 30.116vw;
  height: 16.243vw;
}

#sergey1 img {
  width: 30vw;
  height: 16.243vw;
}

#sergey2 img {
  width: 21.965vw;
  height: 16.243vw;
}

#sergey3 img {
  width: 34.855vw;
  height: 16.243vw;
}

#sergey4 img {
  width: 25.607vw;
  height: 16.243vw;
}

#christina1 img {
  width: 32.254vw;
  height: 16.243vw;
}

#christina2 img {
  width: 21.387vw;
  height: 16.243vw;
}

#christina3 img {
  width: 30.116vw;
  height: 16.243vw;
}

#christina4 img {
  width: 32.312vw;
  height: 16.243vw;
}

#sophia1 img {
  width: 23.931vw;
  height: 16.243vw;
}

#sophia2 img {
  width: 28.671vw;
  height: 16.243vw;
}

#sophia3 img {
  width: 30.867vw;
  height: 16.243vw;
}

#andreyO1 img {
  width: 29.942vw;
  height: 16.243vw;
}

#andreyO2 img {
  width: 20.52vw;
  height: 16.243vw;
}

#andreyO3 img {
  width: 22.543vw;
  height: 16.243vw;
}

#andreyR1 img {
  width: 27.341vw;
  height: 16.243vw;
}

#andreyR2 img {
  width: 32.081vw;
  height: 16.243vw;
}

#andreyR3 img {
  width: 24.509vw;
  height: 16.243vw;
}

#andreyR4 img {
  width: 25.607vw;
  height: 16.243vw;
}

.removed2 {
  animation: none;
  opacity: 1;
}

.header {
  display: none;
}

@media screen and (max-width: 428px) {
  body {
    padding-right: 6.154vw;
    padding-left: 6.154vw;
  }

  .talentWorks {
    padding-top: 9.346vw;
    margin-right: -6.5vw;
  }

  .header {
    display: block;
  }

  .footerTalentsContact {
    display: none;
  }

  .menuWrapper {
    display: flex;
    justify-content: space-between;
    z-index: 50;
    background-color: white;
    width: 100%;
    padding-top: 10.256vw;
    padding-bottom: 6.154vw;
  }

  .logo2 {
    position: relative;
  }

  .menuMedia {
    padding-top: 10.256vw;
    position: relative;
    justify-content: flex-end;
    display: flex;
  }

  .menuMedia a {
    padding-left: 8px;
  }

  .menu-button {
    width: 10.256vw;
    height: 10.256vw;
    cursor: pointer;
    z-index: 33;
    display: block;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-button__wrapper {
    position: relative;
    z-index: 33;
  }
  .menu-button__bar {
    background-color: #000000;
    height: 2px;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 0.4s ease;
  }
  .menu-button__bar:nth-of-type(2) {
    top: 8px;
  }
  .menu-button__bar:nth-of-type(3) {
    top: 16px;
  }
  .menu-button.active .menu-button__bar {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-button.active .menu-button__bar:nth-of-type(2) {
    transform: translateX(2rem);
    opacity: 0;
    visibility: hidden;
  }
  .menu-button.active .menu-button__bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-overlay {
    background-color: white;
    height: 100vh;
    width: calc(100% - 4rem);
    right: 0;
    position: fixed;
    padding: 8rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateX(100%);
    z-index: 22;
  }
  .menu-overlay.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  .background-overlay {
    background-color: rgba(25, 25, 25, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
    position: fixed;
  }
  .background-overlay.bg-overlay {
    opacity: 1;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav__item {
    text-decoration: none;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    /* identical to box height, or 20px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;

    color: #000000;
    transition: all 0.4s ease;
    position: relative;
    align-self: flex-end;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .nav__item::after {
    content: "";
    background-color: #191919;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.4s ease;
  }
  .nav__item:hover::after {
    width: 100%;
  }
  .button {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #191919;
    align-self: flex-start;
    transition: all 0.4s ease;
  }
  .button:hover {
    background-color: rgba(25, 25, 25, 0.75);
  }
  .content {
    max-width: 1440px;
    padding: 0 2rem;
  }

  .navbar2 {
    display: none;
  }

  .talents {
    padding-top: 20.513vw;
    margin-right: -8vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .talentsCard {
    position: relative;
    width: fit-content;
    padding-right: 4.103vw;
  }

  .talentsCard h4 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    padding-bottom: 1vw;
    line-height: 115%;
    /* identical to box height, or 21px */
    margin-bottom: 0;
    margin-top: 0;

    letter-spacing: 0.05em;

    color: #000000;
  }

  .talentsCard h5 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    margin-bottom: 0;
    margin-top: 0;
    /* identical to box height, or 21px */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 2.051vw;

    color: #ffffff;
  }

  .talentCard1 {
    left: 0;
    top: 0;
  }

  .talentCard2 {
    left: 0;
    top: 0;
  }

  .talentCard3 {
    left: 0;
    top: 0;
  }

  .talentCard4 {
    left: 0;
    top: 0;
  }

  .talentCard5 {
    left: 0;
    top: 0;
  }

  .talentCard6 {
    left: 0;
    top: 0;
  }

  .talentCard7 {
    left: 0;
    top: 0;
  }

  .talentCard8 {
    left: 0;
    top: 0;
  }

  .talentCard9 {
    left: 0;
    top: 0;
  }

  .talentCard1 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard2 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard3 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard4 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard5 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard6 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard7 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard8 Img {
    width: auto;
    height: 100vw;
  }

  .talentCard9 Img {
    width: auto;
    height: 100vw;
  }

  .footerCopyright p {
    margin: 0;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.103vw;
    line-height: 110%;
    padding-top: 10.256vw;
    /* identical to box height, or 18px */

    text-align: right;
    letter-spacing: 0.05em;
    margin: 0 auto 0 0;
    margin-right: auto;
    /* Teritary */

    color: #92867b;
  }

  .talentRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .talentInfo {
    padding-left: 0;
  }

  .talentInfo h1 {
    padding-top: 2.051vw;
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 5.897vw;
    line-height: 115%;
    /* or 26px */

    letter-spacing: 0.05em;

    color: #000000;
  }

  .talentInfoContacts a {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 3.846vw;
    line-height: 115%;
    /* or 17px */

    letter-spacing: 0.05em;

    color: #000000;
  }

  .talentRow Img {
    width: 87.436vw;
    height: 111.026vw;
  }

  .talentWork h3 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 4.615vw;
    line-height: 115%;
    padding-top: 2.051vw;
    /* identical to box height, or 21px */

    letter-spacing: 0.05em;

    color: #000000;
  }

  .navBack h4 {
    font-family: "Decima Mono Cyr";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 109%;
    /* or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
  }

  .navBack {
    padding-top: 10.256vw;
  }

  .talentWork {
    padding-right: 4.103vw;
  }

  #emil1 Img {
    width: auto;
    height: 56.923vw;
  }

  #emil2 img {
    width: auto;
    height: 56.923vw;
  }

  #emil3 img {
    width: auto;
    height: 56.923vw;
  }

  #emil4 img {
    width: auto;
    height: 56.923vw;
  }

  #emil5 img {
    width: auto;
    height: 56.923vw;
  }

  #emil6 img {
    width: auto;
    height: 56.923vw;
  }

  #klim1 img {
    width: auto;
    height: 56.923vw;
  }

  #klim2 img {
    width: auto;
    height: 56.923vw;
  }

  #klim3 img {
    width: auto;
    height: 56.923vw;
  }

  #klim4 img {
    width: auto;
    height: 56.923vw;
  }

  #nikita1 img {
    width: auto;
    height: 56.923vw;
  }

  #nikita2 img {
    width: auto;
    height: 56.923vw;
  }

  #nikita3 img {
    width: auto;
    height: 56.923vw;
  }

  #eugeniy1 img {
    width: auto;
    height: 56.923vw;
  }

  #eugeniy2 img {
    width: auto;
    height: 56.923vw;
  }

  #eugeniy3 img {
    width: auto;
    height: 56.923vw;
  }

  #sergey1 img {
    width: auto;
    height: 56.923vw;
  }

  #sergey2 img {
    width: auto;
    height: 56.923vw;
  }

  #sergey3 img {
    width: auto;
    height: 56.923vw;
  }

  #sergey4 img {
    width: auto;
    height: 56.923vw;
  }

  #christina1 img {
    width: auto;
    height: 56.923vw;
  }

  #christina2 img {
    width: auto;
    height: 56.923vw;
  }

  #christina3 img {
    width: auto;
    height: 56.923vw;
  }

  #christina4 img {
    width: auto;
    height: 56.923vw;
  }

  #sophia1 img {
    width: auto;
    height: 56.923vw;
  }

  #sophia2 img {
    width: auto;
    height: 56.923vw;
  }

  #sophia3 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyO1 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyO2 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyO3 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyR1 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyR2 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyR3 img {
    width: auto;
    height: 56.923vw;
  }

  #andreyR4 img {
    width: auto;
    height: 56.923vw;
  }

  .footerCopyright {
    padding-top: 14vw;
  }
}

@keyframes glitcher-hov {
  0% {
    opacity: 1;
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-3deg) scaleY(0.9);
  }
  25% {
    filter: saturate(500%) contrast(500) hue-rotate(120deg);
    transform: translate(-2px, 0px) skew(5deg) scaleY(0.8) scaleX(0.9);
  }
  26% {
    transform: translate(-10px, 0px) skew(10deg) scaleY(0.98) scaleX(1);
  }
  28% {
    filter: saturate(100%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-8deg) scaleY(0.98) ScaleX(1);
  }
  38%,
  100% {
  }
}

@keyframes glitcherout {
  0% {
    opacity: 1;
  }
  100% {
    filter: saturate(200%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translateY(-1vh);
  }
}

@keyframes glitcher {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-30deg) scaleY(0);
  }
  25% {
    filter: saturate(500%) contrast(500) hue-rotate(120deg);
    transform: translate(-200px, 0px) skew(5deg) scaleY(0.1) scaleX(1.5);
  }
  28% {
    transform: translate(-10px, 0px) skew(80deg) scaleY(0.01) scaleX(1);
  }
  34% {
    filter: saturate(10%) contrast(50) hue-rotate(80deg) invert(0);
    transform: translate(4px, 0px) skew(-100deg) scaleY(0.4) ScaleX(2);
  }
  48% {
    filter: saturate(500%) contrast(500) hue-rotate(120deg);
    transform: translate(-200px, 0px) skew(2deg) scaleY(0.1) scaleX(1.5);
    filter: saturate(100%) contrast(100) brightness(1000) hue-rotate(120deg);
  }
  62%,
  80% {
    transform: translate(-10px, 0px) skew(0deg) scaleY(0.01) scaleX(1);
  }

  81%,
  100% {
    filter: saturate(0%) contrast(1) hue-rotate(0deg) scaleY(1) scaleX(1);
  }
}
