@import url(/css/reset.css);

@font-face {
  font-family: "Decima Mono Cyr";
  src: url("../fonts/DecimaMonoCyr.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  /* background: #F9F2EB; */
  background: #ffffff;
  overflow-x: hidden;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

h1 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 110%;
  /* identical to box height, or 31px */

  letter-spacing: 0.05em;

  color: #000000;
}

h4 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  letter-spacing: 0.05em;

  color: #000000;
}

h5 {
  background: #2400ff;
  padding: 4px 8px 2px;
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  width: 6.2vw;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.navbar2 {
  background: #ffffff;
}

.row2 a {
  color: #000000;
  font-family: "Decima Mono Cyr";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.18em;
  text-align: left;

  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 64px;
}

.talentsRow Img {
  width: 252px;
  padding-bottom: 16px;
}

.talentsRow1 {
}

.talentsCard {
  padding-right: 24px;
}

.talentsRow2 {
}

.talentPage {
  display: flex;
  flex-direction: row;
}

.talentInfo {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.talentNav a {
  padding-right: 24px;
}

.talentNav {
  padding-bottom: 8px;
}

.talentInfo p {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 46vw;
  /* or 27px */

  display: flex;
  align-items: flex-end;

  /* Dark-secondary */

  color: rgba(249, 242, 235, 0.5);
}

.talentInfoContacts {
  padding-top: 40px;
}

.talentInfoContacts a {
  font-family: Decima Mono Cyr;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-right: 64px;

  color: #000000;
}

.talentWorks {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.talentWork {
  padding-right: 24px;
}

.talentWork h3 {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */

  letter-spacing: 0.05em;

  color: #000000;
}

.footerTalentsContact a {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */
  letter-spacing: 0.05em;
  color: #000000;
}

.footerCopyright {
  font-family: "Decima Mono Cyr";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  /* Teritary */
  color: #92867b;
  margin: 0 0 0 auto;
  margin-left: auto;
}

.footerTalents {
  display: flex;
}

.footerTalents a {
  padding-right: 16px;
}
